Repository orionpkg/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --config .prettierrc.json --write --ignore-unknown

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": ["eslint --quiet --fix"],
	"*.{json,js,ts,jsx,tsx,html}": ["prettier --config .prettierrc.json --write --ignore-unknown"]
}

fix: :green_heart: update npm publish command to include publish branch
  .github/workflows/release.yml
Due: none

fix: :green_heart: update npm publish command
  .github/workflows/release.yml
Due: none

feat: :rocket: update package name and configure changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --quiet --fix, prettier --config .prettierrc.json --write --ignore-unknown

feat: :rocket: update package.json version to 0.0.2
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: update release workflow and package.json scripts
  .github/workflows/release.yml
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: update release workflow and package version
  .github/workflows/release.yml
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: add build step to release workflow
  .github/workflows/release.yml
Due: none

fix: :green_heart: changeset update version before release
  .github/workflows/release.yml
Due: none

fix: :green_heart: update package.json with new ci:publish script
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: update release workflow
  .github/workflows/release.yml
Due: none

docs: :memo: add installation and usage instructions for OrionUI
  README.md
Due: none

Create thirty-pianos-switch.md
  .changeset/thirty-pianos-switch.md
Due: none

fix: :green_heart: add ci:version script to package.json
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: fix ci:version command
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: update ci:version command in package.json
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

fix: :green_heart: set up git user for release workflow
  .github/workflows/release.yml
Due: none

ci(changesets): :package: new package version
  .changeset/thirty-pianos-switch.md
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

build: :building_construction: add style.css to package.json
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

build: :building_construction: update dts exclude in vite.config.ts
  vite.config.ts
Due: eslint --quiet --fix, prettier --config .prettierrc.json --write --ignore-unknown

fix: :bug: add missing use-merge-refs hook to hooks barrel
  src/hooks/index.ts
Due: eslint --quiet --fix, prettier --config .prettierrc.json --write --ignore-unknown

Create strong-horses-accept.md
  .changeset/strong-horses-accept.md
Due: none

ci(changesets): :package: new package version
  .changeset/strong-horses-accept.md
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

build: :building_construction: update dependencies in package.json
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

Create cold-ducks-drop.md
  .changeset/cold-ducks-drop.md
Due: none

build: :building_construction: update pnpm-lock file
  pnpm-lock.yaml
Due: none

ci: :green_heart: update dependency installation command
  .github/workflows/release.yml
Due: none

ci(changesets): :package: new package version
  .changeset/cold-ducks-drop.md
  CHANGELOG.md
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

build: :building_construction: remove unused style.css file
  package.json
Due: prettier --config .prettierrc.json --write --ignore-unknown

docs: :memo: add installation and usage instructions for OrionUI and Tailwind CSS
  README.md
Due: none

build: :building_construction: exclude CSS files from dts plugin in vite.config.ts
  vite.config.ts
Due: eslint --quiet --fix, prettier --config .prettierrc.json --write --ignore-unknown

refactor: :fire: remove unused vite.svg
  public/vite.svg
Due: none

refactor: :fire: remove global.css import from index.ts
  src/components/index.ts
Due: eslint --quiet --fix, prettier --config .prettierrc.json --write --ignore-unknown
